.read-more,.read-more-btn,.read-more-button,.subscribe-btn {
    border-radius: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: hsl(142, 77%, 86%);
    border: none;
    padding: 5% 10%;
    color: hsl(220, 30%, 30%);
}

@media screen and (max-width:600px) {

    .head {
        margin: 10% 1% 10% 4%;
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        column-gap: 5%;
        font-family: sans-serif;
        color: hsl(220, 30%, 30%);
    }

    .head * {
        color: inherit;
    }

    .logo {
        align-self: center;
        line-height: 1.5;
        font-size: 1.4rem;
    }

    .navItem {
        font-size: 1.2rem;
        margin: 7% 1%;
    }

    .donate {
        grid-column: 1/3;
        justify-self: center;
        font-weight: bold;
        width: 90%;
        margin: 5% 5% 1% 5%;
        padding: 5%;
        border-radius: 30px;
        font-size: 1.4rem;
        background-color: hsl(142, 77%, 86%);
        border: none;
        cursor: pointer;
    }

    .issue {
        background-image: url('../assets/home1.png');
        background-position: 75% 10%;
        background-size: cover;
    }

    .issue h2 {
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 3rem;
        color: white;
        padding: 10% 10%;
        width: 50%;
        margin-bottom: 15%;
    }

    .issue-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
        align-items: center;
        margin-top: 30%;
        font-family: sans-serif;
    }

    .issue-content h3 {
        background-color: hsl(220, 30%, 30%);
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        color: white;
        padding: 4%;
        text-align: center;
        z-index: 2;
    }

    .issue-content-read {
        background-color: white;
        margin: -5% 10% 10% 10%;
        padding: 10% 5%;
        text-align: center;
        color: hsl(220, 30%, 30%);
    }

    .issue-content-read h4 {
        font-size: 1.5rem;
        margin-bottom: 10%;
    }

    .issue-content-read a {
        text-decoration: underline;
        font-size: 1.2rem;
        color: hsl(220, 30%, 30%);
    }

    .take_action {
        background-color: hsl(220, 30%, 30%);
        color: white;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: relative;
        z-index: 2;
        margin-top: -5%;
        margin-bottom: -5%;
        font-family: sans-serif;
        padding: 2% 5%;
    }

    .actions {
        background-color: hsl(142, 77%, 86%);
        font-family: sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
        row-gap: 10%;
        padding: 15% 4%;
        color: hsl(220, 30%, 30%);
        z-index: 1;
    }

    .actions h4 {
        padding-left: 5%;
    }

    .actions p {
        padding: 5%;
    }

    .actions h4 {
        font-weight: bold;
        color: darkblue;
    }

    .what-we-do {
        background-color: hsl(220, 30%, 30%);
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        line-height: 1.5;
        justify-content: center;
    }

    .what-we-do-heading {
        text-align: center;
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        color: hsl(220, 30%, 30%);
        padding: 5%;
        margin-top: 10%;
    }

    .what-we-do h2 {
        color: white;
        text-align: center;
        padding: 10% 10%;
    }

    .info-card img {
        object-fit: cover;
        margin-left: 20%;
        width: 60%;
    }

    .info-card .card-data {
        background-color: white;
        width: 80%;
        padding: 25% 5% 10% 5%;
        margin: -25% 10% 25% 10%;
        text-align: center;
        color: hsl(220, 30%, 30%);
    }

    .card-data p {
        padding: 5%;
    }

    .card-data h3 {
        padding-top: 10%;
    }

    .did-you-know {
        background-image: url(../assets/did-you-know-background.png);
        background-position: 10% 90%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .did-you-know h2 {

        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 3rem;
        color: white;
        padding: 30% 5% 10% 5%;
    }

    .take-action-today {

        border-radius: 30px;
        font-size: 1rem;
        font-weight: bold;
        background-color: hsl(142, 77%, 86%);
        border: none;
        padding: 5% 1%;
        color: hsl(220, 30%, 30%);
        margin-left: 10%;
        margin-bottom: 20%;
        width: 40%;
        cursor: pointer;
    }

    .did-you-know-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
    }

    .did-you-know-cards .card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: white;
        color: hsl(220, 30%, 30%);
        width: 90%;
        margin-top: -5%;
        margin-bottom: 10%;
        padding: 7% 5% 7% 5%;

        grid-column-gap: 6%;
        grid-row-gap: 7%;
    }

    .did-you-know-cards .card h3,
    p {
        grid-column: 1/4;
        align-self: center;
    }

    .did-you-know-cards .card h3 {

        font-weight: bold;
        font-size: 1.5rem;
    }

    .did-you-know-cards .card a {
        justify-self: center;
        align-self: center;
        background-color: hsl(142, 77%, 86%);
        border-radius: 50%;
    }

    .twitter-logo {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.575rem;
    }

    .fb-logo {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.575rem;
    }

    .did-you-know-heading,
    .stories-heading {
        background-color: hsl(220, 30%, 30%);
        width: 50%;
        color: white;
        text-align: center;
        z-index: 2;
        position: relative;
        left: 25%;
        font-family: sans-serif;
        padding: 5% 2%;
    }

    .stories-content-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .stories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stories img {
        width: 80%;
        height: 70%;
        margin-top: -5%;
    }

    .stories-heading {
        margin-top: 10%;
        left: 0%;
    }

    .stories-content {
        background-color: hsl(220, 30%, 30%);
        width: 80%;
        color: white;
        text-align: center;
        padding: 10% 7%;
        font-size: 1.3rem;
        font-family: sans-serif;
        margin-top: 10%;
        font-weight: bold;
        line-height: 1.2;
    }

    .who {
        font-size: 0.8rem;
        padding-top: 10%;
        font-weight: normal;
    }

    .read-more-btn {
        padding: 2% 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .event {
        background-color: hsl(220, 30%, 30%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        font-family: sans-serif;
        color: hsl(220, 30%, 30%);
        padding-bottom: 10%;
    }

    .event-content-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .event .quote1  {
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 2rem;
        color: hsl(0, 0%, 100%);
        text-align: center;
        padding: 10% 10%;        
    }

    .event img {
        width: 80%;
        height: 80%;
        margin-top: -8%;
    }

    .event-heading {
        background-color: hsl(0, 0%, 100%);
        padding: 2% 8%;
        margin-top: 5%;
        z-index: 2;
    }

    .event-data {
        color: #ffffff;
        margin-top: 10%;
        text-align: center;
        padding: 2% 5%;
    }

    .event-data h2, p {
        line-height: 1.5;
    }

    .event-data p {
        padding-top: 5%;
    }

    .read-more-button {
        margin-top: 10%;
    }

    .event-heading1,
    .event-heading2 {
        display: none;
    }

    .subscribe {
        background-color: hsl(142, 77%, 86%);
        color: hsl(220, 30%, 30%);
        padding: 10% 1%;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .subscribe .action-btns {
        margin-top: 4%;
        display: flex;
    }

    .subscribe p {
        padding-left: 5%;
    }

    .subscribe-btn {
        background-color: hsl(220, 30%, 30%);
        color: hsl(142, 77%, 86%);
        margin-left: 2%;
    }

    .email {
        border-radius: 35px;
        border: none;
    }

    .footer {
        padding: 10% 5%;
        color: hsl(220, 30%, 30%);
        font-family: sans-serif;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 2%;
        row-gap: 15%;
    }

    .foot-title {
        align-self: center;
        font-size: 2rem;
    }

    .contact-us, .follow-us, .learn-more {
        line-height: 1.5;
        font-size: 1rem;
    }

    .follow-us a, .learn-more a {

        text-decoration: underline;
        color: hsl(220, 30%, 30%);
    }

    .footer h2 {
        margin-left: 60%;
        text-align: right;
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 3rem;
        /* padding: 10% 5% 10% 5%; */
    }

    .desktop-hr {
        display: none;
    }

    .contact-heading {
        line-height: 2;
    }

    .address {
        font-size: 1rem;
    }

}

@media screen and (min-width:601px) {
    .head {
        margin: 2% 5% 2% 4%;
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        color: hsl(220, 30%, 30%);
    }

    .head * {
        color: inherit;
    }

    .logo {
        align-self: center;
        line-height: 1.5;
        font-size: 1.4rem;
        width: 15%;
    }

    .head ul {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        align-items: center;
    }

    .navItem {
        font-size: 1.2rem;
    }

    .donate {
        border-radius: 30px;
        padding: 0% 2%;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: hsl(142, 77%, 86%);
        border: none;
        cursor: pointer;
    }

    .issue {
        background-image: url('../assets/home1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        font-family: sans-serif;
    }
    .issue h2 {
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 5rem;
        color: white;
        margin-top: 10%;
        margin-right: 15%;
        width: 50%;
        margin-bottom: 15%;
    }

    .issue-content {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        align-items: center;
        font-family: sans-serif;
    }

    .issue-content h3 {
        background-color: hsl(220, 30%, 30%);
        width: 20%;
        color: white;
        padding: 1%;
        text-align: center;
        z-index: 2;
        margin: 10% 25% -3% 10%;
    }

    .issue-content-read {
        background-color: #ffffff;
        margin: 0% 10% 10% 15%;
        padding: 5%;
        text-align: left;
        color: hsl(220, 30%, 30%);
        width: 55%
    }

    .issue-content-read h4 {
        font-size: 2.5rem;
        margin-bottom: 10%;
        line-height: 1.5;
    }

    .issue-content-read a {
        color: hsl(220, 30%, 30%);
        text-decoration: underline;
        font-size: 1.3rem;
    }

    .take_action {
        background-color: hsl(220, 30%, 30%);
        color: white;
        width: 15%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: relative;
        z-index: 2;
        margin-top: -2%;
        margin-bottom: -1%;
        font-family: sans-serif;
        padding: 1% 3%;
    }

    .actions {
        background-color: hsl(142, 77%, 86%);
        font-family: sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 7%;
        padding: 4% 10%;
        color: hsl(220, 30%, 30%);
        z-index: 1;
    }

    .actions h4 {
        font-weight: bold;
        font-size: 1.5rem;
        padding-bottom: 5%;
    }

    .actions p {
        font-size: 1.1rem;
    }

    .what-we-do {
        background-color: hsl(220, 30%, 30%);
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
    }

    .what-we-do-heading {
        text-align: center;
        background-color: #ffffff;
        color: hsl(220, 30%, 30%);
        margin: 7% 10% 1% 10%;
        width: 10%;
        padding: 1%;
    }

    .what-we-do .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0% 10%;
    }

    .what-we-do h2 {
        color: white;
        margin-left: 10%;
        font-size: 2.5rem;
        width: 80%;
        ;
        line-height: 1.5;
    }

    .info-card img {
        object-fit: cover;
        width: 65%;
        height: 35%;
        z-index: 2;
        position: relative;
        left: 15%;
        top: 20%;
    }

    .info-card .card-data {
        z-index: 1;
        background-color: white;
        width: 70%;
        color: hsl(220, 30%, 30%);
        padding: 40% 5% 5% 5%;
    }

    .card-data p {
        padding: 5%;
        line-height: 1.5;
    }

    .card-data h3 {
        padding-top: 10%;
        padding-left: 5%;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: bold;
    }

    .did-you-know {
        background-image: url(../assets/did-you-know-background.png);
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .quote {
        margin-top: 20%;
        justify-self: center;
        padding: 10%;
    }

    .did-you-know h2 {
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 6rem;
        color: white;

    }

    .did-you-know-cards {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        font-family: sans-serif;
        margin-top: 10%;
    }

    .did-you-know-cards .card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: white;
        color: hsl(220, 30%, 30%);
        width: 80%;
        height: 80%;
        margin-bottom: 4%;
        padding: 10% 5%;
        grid-row-gap: 2%;
    }

    .did-you-know-cards .card h3 {
        font-size: 3rem;
        padding-bottom: 3%;
    }

    .did-you-know-cards .card p {
        font-size: 1.3rem;
        line-height: 1.5;
    }

    .did-you-know-cards .card h3, p {
        grid-column: 1/3;
        align-self: center;
    }

    .did-you-know-cards .card a {
        justify-self: center;
        align-self: center;
        padding: 7% 10%;
        background-color: hsl(142, 77%, 86%);
        border-radius: 50%;

    }

    .did-you-know-heading {
        background-color: hsl(220, 30%, 30%);
        width: 20%;
        color: white;
        padding: 1% 0%;
        text-align: center;
        z-index: 2;
        position: relative;
        left: 18%;
        top: 7%;
        font-size: 1rem;
        font-family: sans-serif;
    }

    .take-action-today {
        border-radius: 30px;
        font-size: 1.2rem;
        font-weight: bold;
        background-color: hsl(142, 77%, 86%);
        border: none;
        padding: 5% 1%;
        color: hsl(220, 30%, 30%);
        margin: 8% 8%;
        width: 40%;
        cursor: pointer;
    }

    .stories {
        height: 50vh;
    }

    .stories-content-data {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .stories img {
        width: 40%;
        height: 90%;
    }

    .stories-content {
        background-color: hsl(220, 30%, 30%);
        width: 35%;
        color: white;
        text-align: left;
        padding: 4%;
        font-size: 1.8rem;
        font-family: sans-serif;
        font-weight: bold;
        line-height: 1.5;
        position: relative;
        left: 5%;
    }

    .stories-heading {
        left: 55%;
        background-color: hsl(220, 30%, 30%);
        width: 10%;
        color: white;
        padding: 1%;
        text-align: center;
        z-index: 2;
        position: relative;
        font-size: 1rem;
        font-family: sans-serif;
        top: 5%;
    }

    .read-more-btn {
        padding: 1%;
        position: relative;
        bottom: 16%;
        left: 17%;
        margin-bottom: 10%;
    }

    .who {
        font-size: 1rem;
        padding-top: 7%;
        font-weight: normal;
    }

    .event {
        background-color: hsl(220, 30%, 30%);
        font-family: sans-serif;
        color: hsl(220, 30%, 30%);
        margin-top: 25%;
        color: hsl(0, 0%, 100%);
        padding: 2%;
    }

    .event .quote1 {
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 3rem;
        padding: 5% 15%;
        width: 80%;
        line-height: 1.5;
    }

    .event-content-data {
        display: flex;
        justify-content: center;
    }

    .event-content-data img {
        height: 35%;
        width: 35%;
        margin-right: 5%;
        position: relative;
        bottom: 7vh;
    }

    .event-data {
        margin-top: 2%;
        margin-right: 5%;
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .event-data h2 {
        font-size: 2.8rem;
        line-height: 1.5;
    }

    .event-data p {
        padding-top: 3%;
        font-size: 1.3rem;
        line-height: 1.5;
    }

    .read-more-button {
        margin-top: 3%;
        width: 30%;
        padding: 2%;
    }

    .event-heading {
        display: none;
    }

    .event-heading-desk {
        background-color: hsl(0, 0%, 100%);
        width: 10%;
        position: relative;
        left: 53%;
        top: 20%;
        color: hsl(220, 30%, 30%);
        padding: 1% 2%;
    }

    .event-heading-desk1 {
        margin-top: 10%;
        background-color: hsl(0, 0%, 100%);
        width: 15%;
        position: relative;
        left: 12%;
        top: 10%;
        color: hsl(220, 30%, 30%);
        padding: 1% 2%;
    }

    .event-content-data:last-of-type {
        flex-direction: row-reverse;
    }

    .subscribe {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: hsl(142, 77%, 86%);
        color: hsl(220, 30%, 30%);
        padding: 5% 15%;
        font-size: 2rem;
        font-weight: bold;
        grid-column-gap: 2%;
    }

    .subscribe p {
        grid-column: 1/3;
    }

    .subscribe .action-btns {
        display: flex;
    }

    .subscribe-btn {
        background-color: hsl(220, 30%, 30%);
        color: hsl(142, 77%, 86%);
        margin-left: 4%;
    }

    .email {
        border-radius: 35px;
        border: none;
        padding: 3%;
        font-size: 1.2rem;
    }

    .footer {
        padding: 5% 15%;
        color: hsl(220, 30%, 30%);
        font-family: sans-serif;
        display: flex;
        grid-column-gap: 2%;
    }

    .foot-title {
        font-size: 2rem;
        width: 20%;
    }

    .follow-us,.learn-more {
        width: 20%;
        line-height: 1.2;
        font-size: 1.3rem;
    }

    .contact-us {
        width: 20%;
    }

    .contact-heading {
        font-size: 1.2rem;
    }

    .contact-us p {
        font-size: 0.9rem;
        line-height: 1.3;
    }

    .follow-us a, .learn-more a {
        font-size: 1rem;
        color: hsl(220, 30%, 30%);
    }

    .footer h2 {
        width: 10%;
        text-align: right;
        font-family: "Protest Riot", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 3rem;
    }

    .desktop-hr {
        display: block;
        width: 50%;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .address {
        line-height: 1.5;
    }
}